@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass", "_variable";

body{
	background: #000;
	min-width: $body-mwidth;
	min-height: $body-mheight;
}
.main{
	width: $body-mwidth;
	height: $body-mheight;
	background: #000 url(../images/bg.jpg) left top no-repeat;
	@include mediacy;
}
.rdbox{
	width: 312px;
	height: 305px;
	@include fixpos(184px, 700px);
}
.rdbox-rock{
	@include animation(rock 2s infinite);	
	@include rockm;
}
//粽子
.riceDumpling{
	width: 312px;
	height: 305px;
	background: url(../images/zz.png) left top no-repeat;
}
//绳子
.rope1{
	@include whb(218px, 180px, url(../images/line_1.png));
	@include fixpos(120px, 10px);
}
// 粽子肉
.rdflesh{
	@include whb(288px, 206px, url(../images/zzr_1.png));
	@include background-size(288px 206px);
	@include fixpos(34px, 50px);
	z-index: 110;
}
// 左叶
.rdll{
	@include whb(114px, 266px, url(../images/leaf_left.png));
	@include fixpos(-30px, 0px);
	z-index: 1;
}
// 右叶
.rdlr{
	@include whb(318px, 336px, url(../images/leaf_right.png));
	@include fixpos(-60px, 80px);
	z-index: 111;
}
// 底叶
.rdl{
	@include whb(618px, 468px, url(../images/leaf_expand.png));
	@include fixpos(-45px, -150px);
	z-index: 99;
}
// 字1
.rdt1{
	@include whb(180px, 100px, url(../images/t_jixiang.png));
	@include mediacy(false, false);
	@include simple-transform(.8,false,-40%,-50%);
	z-index: 200;
}
// 字2
.rdt2{
	@include whb(180px, 100px, url(../images/t_ruyi.png));
	@include mediacy(false, false);
	@include simple-transform(.8,false,-40%,-50%);
	z-index: 200;
}
// 祝福语文字
.text{
	@include simple-mediacy(140px, 180px);
	@include whb(400px, 370px, false);
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
.text{
	.caption{
		@include whb(400px, 240px, url(../images/caption.png));
		margin-left: 40px;
	}
}
.text{
	.to{
		width: 400px;
		margin-top: 10px;
		margin-left: 40px;
	}
}
.text{
	.msg{
		width: 400px;
		margin-top: 10px;
		margin-left: 40px;
	}
}
.text{
	.from{
		width: 400px;
		margin-top: 10px;
		margin-left: 40px;
		text-align: right;
	}
}
