/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background: #000;
  min-width: 1200px;
  min-height: 600px;
}

.main {
  width: 1200px;
  height: 600px;
  background: #000 url(../images/bg.jpg) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rdbox {
  width: 312px;
  height: 305px;
  position: absolute;
  top: 184px;
  left: 700px;
}

.rdbox-rock {
  -moz-animation: rock 2s infinite;
  -webkit-animation: rock 2s infinite;
  animation: rock 2s infinite;
}
@-moz-keyframes rock {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20% {
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  30% {
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  40% {
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50% {
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  60% {
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  70% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rock {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  30% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rock {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20% {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  30% {
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  40% {
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50% {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  60% {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  70% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.riceDumpling {
  width: 312px;
  height: 305px;
  background: url(../images/zz.png) left top no-repeat;
}

.rope1 {
  width: 218px;
  height: 180px;
  background: url(../images/line_1.png) left top no-repeat;
  position: absolute;
  top: 120px;
  left: 10px;
}

.rdflesh {
  width: 288px;
  height: 206px;
  background: url(../images/zzr_1.png) left top no-repeat;
  -moz-background-size: 288px 206px;
  -o-background-size: 288px 206px;
  -webkit-background-size: 288px 206px;
  background-size: 288px 206px;
  position: absolute;
  top: 34px;
  left: 50px;
  z-index: 110;
}

.rdll {
  width: 114px;
  height: 266px;
  background: url(../images/leaf_left.png) left top no-repeat;
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: 1;
}

.rdlr {
  width: 318px;
  height: 336px;
  background: url(../images/leaf_right.png) left top no-repeat;
  position: absolute;
  top: -60px;
  left: 80px;
  z-index: 111;
}

.rdl {
  width: 618px;
  height: 468px;
  background: url(../images/leaf_expand.png) left top no-repeat;
  position: absolute;
  top: -45px;
  left: -150px;
  z-index: 99;
}

.rdt1 {
  width: 180px;
  height: 100px;
  background: url(../images/t_jixiang.png) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -ms-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -webkit-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  transform:  scale(0.8, 0.8) translate(-40%, -50%);
  z-index: 200;
}

.rdt2 {
  width: 180px;
  height: 100px;
  background: url(../images/t_ruyi.png) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -ms-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -webkit-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  transform:  scale(0.8, 0.8) translate(-40%, -50%);
  z-index: 200;
}

.text {
  position: absolute;
  top: 140px;
  left: 180px;
  width: 400px;
  height: 370px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.text .caption {
  width: 400px;
  height: 240px;
  background: url(../images/caption.png) left top no-repeat;
  margin-left: 40px;
}

.text .to {
  width: 400px;
  margin-top: 10px;
  margin-left: 40px;
}

.text .msg {
  width: 400px;
  margin-top: 10px;
  margin-left: 40px;
}

.text .from {
  width: 400px;
  margin-top: 10px;
  margin-left: 40px;
  text-align: right;
}
