/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #000;
  min-width: 1200px;
  min-height: 600px;
}

.main {
  width: 1200px;
  height: 600px;
  background: #000 url(../images/bg.jpg) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rdbox {
  width: 312px;
  height: 305px;
  position: absolute;
  top: 184px;
  left: 700px;
}

.riceDumpling {
  width: 312px;
  height: 305px;
  background: url(../images/zz.png) left top no-repeat;
}

.rope1 {
  width: 218px;
  height: 180px;
  background: url(../images/line_1.png) left top no-repeat;
  position: absolute;
  top: 120px;
  left: 10px;
}

.rdflesh {
  width: 288px;
  height: 206px;
  background: url(../images/zzr_1.png) left top no-repeat;
  -moz-background-size: 288px 206px;
  -o-background-size: 288px 206px;
  -webkit-background-size: 288px 206px;
  background-size: 288px 206px;
  position: absolute;
  top: 34px;
  left: 50px;
  z-index: 110;
}

.rdll {
  width: 114px;
  height: 266px;
  background: url(../images/leaf_left.png) left top no-repeat;
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: 1;
}

.rdlr {
  width: 318px;
  height: 336px;
  background: url(../images/leaf_right.png) left top no-repeat;
  position: absolute;
  top: -60px;
  left: 80px;
  z-index: 111;
}

.rdl {
  width: 618px;
  height: 468px;
  background: url(../images/leaf_expand.png) left top no-repeat;
  position: absolute;
  top: -45px;
  left: -150px;
  z-index: 99;
}

.rdt1 {
  width: 180px;
  height: 100px;
  background: url(../images/t_jixiang.png) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -ms-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -webkit-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  transform:  scale(0.8, 0.8) translate(-40%, -50%);
  z-index: 200;
}

.rdt2 {
  width: 180px;
  height: 100px;
  background: url(../images/t_ruyi.png) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -ms-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -webkit-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  transform:  scale(0.8, 0.8) translate(-40%, -50%);
  z-index: 200;
}
