/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background: #000;
  min-width: 1200px;
  min-height: 600px;
}

.main {
  width: 1200px;
  height: 600px;
  background: #000 url(../images/bg.jpg) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rdbox {
  width: 312px;
  height: 305px;
  position: absolute;
  top: 184px;
  left: 700px;
}

.rdbox-rock {
  -moz-animation: rock 2s infinite;
  -webkit-animation: rock 2s infinite;
  animation: rock 2s infinite;
}
@-moz-keyframes rock {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20% {
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  30% {
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  40% {
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50% {
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  60% {
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  70% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rock {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  30% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rock {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20% {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  30% {
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  40% {
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50% {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  60% {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  70% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.riceDumpling {
  width: 312px;
  height: 305px;
  background: url(../images/zz.png) left top no-repeat;
  opacity: 1;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.rd-out {
  opacity: 0;
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.rope1 {
  width: 218px;
  height: 180px;
  background: url(../images/line_1.png) left top no-repeat;
  position: absolute;
  top: 120px;
  left: 10px;
  z-index: 999;
  cursor: pointer;
}

.rope2 {
  width: 219px;
  height: 159px;
  background: url(../images/line_2.png) left top no-repeat;
  position: absolute;
  top: 158px;
  left: 10px;
}

.rope3 {
  width: 264px;
  height: 117px;
  background: url(../images/line_3.png) left top no-repeat;
  position: absolute;
  top: 220px;
  left: 10px;
}

.rope4 {
  width: 288px;
  height: 56px;
  background: url(../images/line_4.png) left top no-repeat;
  position: absolute;
  top: 290px;
  left: 10px;
}

.rope0 {
  display: none;
}

.rdflesh {
  width: 288px;
  height: 206px;
  background: url(../images/zzr_1.png) left top no-repeat;
  -moz-background-size: 288px 206px;
  -o-background-size: 288px 206px;
  -webkit-background-size: 288px 206px;
  background-size: 288px 206px;
  position: absolute;
  top: 54px;
  left: 50px;
  z-index: 110;
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.rdf-in {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.rdll {
  width: 114px;
  height: 266px;
  background: url(../images/leaf_left.png) left top no-repeat;
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: 1;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.rdll-in {
  opacity: 1;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.rdll-out {
  opacity: 0;
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.rdlr {
  width: 318px;
  height: 336px;
  background: url(../images/leaf_right.png) left top no-repeat;
  position: absolute;
  top: -60px;
  left: 80px;
  z-index: 111;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.rdlr-in {
  opacity: 1;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -moz-transform:  scale(0.8, 0.8) rotateZ(5deg);
  -ms-transform:  scale(0.8, 0.8) rotateZ(5deg);
  -webkit-transform:  scale(0.8, 0.8) rotateZ(5deg);
  transform:  scale(0.8, 0.8) rotateZ(5deg);
}

.rdlr-out {
  opacity: 0;
  -moz-transform:  scale(0.8, 0.8) rotateZ(15deg);
  -ms-transform:  scale(0.8, 0.8) rotateZ(15deg);
  -webkit-transform:  scale(0.8, 0.8) rotateZ(15deg);
  transform:  scale(0.8, 0.8) rotateZ(15deg);
}

.rdl {
  width: 618px;
  height: 468px;
  background: url(../images/leaf_expand.png) left top no-repeat;
  position: absolute;
  top: -45px;
  left: -150px;
  z-index: 99;
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.rdl-in {
  opacity: 1;
}

.rdt1 {
  width: 180px;
  height: 100px;
  background: url(../images/t_jixiang.png) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -ms-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -webkit-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  transform:  scale(0.8, 0.8) translate(-40%, -50%);
  z-index: 200;
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.rdt2 {
  width: 180px;
  height: 100px;
  background: url(../images/t_ruyi.png) left top no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -ms-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  -webkit-transform:  scale(0.8, 0.8) translate(-40%, -50%);
  transform:  scale(0.8, 0.8) translate(-40%, -50%);
  z-index: 200;
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.rdt-in {
  opacity: 1;
}

.text {
  position: absolute;
  top: 140px;
  left: 180px;
  width: 400px;
  height: 370px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.text .caption {
  width: 400px;
  height: 240px;
  background: url(../images/caption.png) left top no-repeat;
  margin-left: 40px;
  opacity: 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.text .to {
  width: 400px;
  margin-top: 10px;
  margin-left: 40px;
  opacity: 0;
  -moz-transition: all 2s 0.5s;
  -o-transition: all 2s 0.5s;
  -webkit-transition: all 2s;
  -webkit-transition-delay: 0.5s;
  transition: all 2s 0.5s;
}

.text .msg {
  width: 400px;
  margin-top: 10px;
  margin-left: 40px;
  opacity: 0;
  -moz-transition: all 2s 1s;
  -o-transition: all 2s 1s;
  -webkit-transition: all 2s;
  -webkit-transition-delay: 1s;
  transition: all 2s 1s;
}

.text .from {
  width: 400px;
  margin-top: 10px;
  margin-left: 40px;
  text-align: right;
  opacity: 0;
  -moz-transition: all 2s 1.5s;
  -o-transition: all 2s 1.5s;
  -webkit-transition: all 2s;
  -webkit-transition-delay: 1.5s;
  transition: all 2s 1.5s;
}

.text-in .caption,
.text-in .to,
.text-in .msg,
.text-in .from {
  opacity: 1;
  margin-left: 0;
}

.rdf-view1 {
  background-image: url(../images/zzr_1.png);
}

.rdf-view2 {
  background-image: url(../images/zzr_2.png);
}

.rdf-view3 {
  background-image: url(../images/zzr_3.png);
}

.rdf-view4 {
  background-image: url(../images/zzr_4.png);
}

.rdf-view0 {
  background-image: url(../images/zzr_1.png);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rdt-view0 {
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

.rdt-view0-mirror {
  display: none;
}

.rdt-view2 {
  -moz-transform:  scaleZ(0.8) rotateY(30deg) rotateZ(8deg) translate(-50px, 0);
  -ms-transform:  scaleZ(0.8) rotateY(30deg) rotateZ(8deg) translate(-50px, 0);
  -webkit-transform:  scaleZ(0.8) rotateY(30deg) rotateZ(8deg) translate(-50px, 0);
  transform:  scaleZ(0.8) rotateY(30deg) rotateZ(8deg) translate(-50px, 0);
}

.rdt-view2-mirror {
  -moz-transform:  scaleZ(0.7) rotateY(70deg) rotateZ(-8deg) translate(283px, -15px);
  -ms-transform:  scaleZ(0.7) rotateY(70deg) rotateZ(-8deg) translate(283px, -15px);
  -webkit-transform:  scaleZ(0.7) rotateY(70deg) rotateZ(-8deg) translate(283px, -15px);
  transform:  scaleZ(0.7) rotateY(70deg) rotateZ(-8deg) translate(283px, -15px);
}

.rdt-view3 {
  -moz-transform:  scaleZ(0.75) rotateY(49deg) rotateZ(15deg) translate(-94px, 0);
  -ms-transform:  scaleZ(0.75) rotateY(49deg) rotateZ(15deg) translate(-94px, 0);
  -webkit-transform:  scaleZ(0.75) rotateY(49deg) rotateZ(15deg) translate(-94px, 0);
  transform:  scaleZ(0.75) rotateY(49deg) rotateZ(15deg) translate(-94px, 0);
}

.rdt-view3-mirror {
  -moz-transform:  scaleZ(0.75) rotateY(49deg) rotateZ(-15deg) translate(118px, 0);
  -ms-transform:  scaleZ(0.75) rotateY(49deg) rotateZ(-15deg) translate(118px, 0);
  -webkit-transform:  scaleZ(0.75) rotateY(49deg) rotateZ(-15deg) translate(118px, 0);
  transform:  scaleZ(0.75) rotateY(49deg) rotateZ(-15deg) translate(118px, 0);
}

.rdt-view4 {
  -moz-transform:  scaleZ(0.6) rotateY(50deg) rotateZ(24deg) translate(196px, 10px);
  -ms-transform:  scaleZ(0.6) rotateY(50deg) rotateZ(24deg) translate(196px, 10px);
  -webkit-transform:  scaleZ(0.6) rotateY(50deg) rotateZ(24deg) translate(196px, 10px);
  transform:  scaleZ(0.6) rotateY(50deg) rotateZ(24deg) translate(196px, 10px);
}
